name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
        
    - name: Install Dependencies
      run: npm install
      
    - name: Turbo Build
      run: npm run build
      
    - name: Backend Setup & Test
      working-directory: ./apps/backend
      run: |
        pip install -r requirements.txt
        # pip install pytest
        # pytest
